.userAccountCtrl {
  border: 1px solid #999;
  border-radius: 4px;
  display: inline-block; }

.nav .userAccountCtrl > a {
  padding: 5px; }

.profilePic {
  padding: 0.5em;
  border-radius: 5px;
  background: #999;
  width: 2.4em;
  text-align: center;
  display: inline-block; }
